body
{
  color: white;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 15px dashed cornsilk;
  width: 350px;
  height: 300px; 
}
#emotion_name ,#emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
    width:100%;
    box-shadow: 15px 15px 20px black;
}
label{
    font-size:15px;
    background-color:black;
    color:whitesmoke;
    font-weight:bold;
    padding:6px;
    border-radius:50px;
}
p{
    font-family: 'Big Shoulders Inline Text', cursive;
}